// colors
$orange: #FF6336;
$reverse: #FFFFFF;
$standart: #000000;
$border: #ccc;

// blocks bg
$background: #FF9C7D;
$blockbg: #FFF8E4;
$bqbg: #C9E8F2;
$mngmnt: #DABC98;
$footerbg: #EEEEEE;

// speed
$anim: 0.8s;
$hov: 0.4s;

// fonts
$stnd-font: 'Graphik LC' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$roboto: 'roboto' Arial, Helvetica, sans-serif